#screencap{
	padding: 10px;
	background-color: #002E5C;
	border-color:#FF0000;
	width: 600;
	border-style:solid;
}

div imagename{
	size: 25;
	text-decoration: Bold;
	color: #
}

div img{
	width: 20%;
	height: auto%;
}

div desc{
	size: 14;
	
}