
#screencap{
	padding: 10px;
	background-color: #002E5C;
	border-color:#FF0000;
	width: auto%;
	border-style:solid;
}

.albumstyle{
	width:50%;
	min-width:200px;
	height:auto%;
<<<<<<< HEAD
=======
	border: 0px solid black;
	transition: all .3s ease-in-out;
	
>>>>>>> origin/master
}

.albumstyle:hover
{
	border:10px solid red;
}

#imageplace{
	display:inline-block;
	
}

.gamestyle{
	width: 20%;
	height: auto%;
}



#desc{
	width:inherit;
	height:inherit;
	color:white;
	display:none;
}


#imagename{
	size: 25;
	text-decoration: Bold;
	color: #;
	text-align:center;
	display:inline;
	position:relative;
}