@font-face{
	font-family: sidebarFont;
	src: url(Fonts/neuropolitical.ttf);
}

#sidebar-blue{
	height: 400;
	width: 150;
	position:fixed;
	top: 120;
	left:30;
	font-size: 24;
	font-family: "Arial Black", Gadget, sans-serif;
	text-align: left;
	color:white;
}

#sidebar-green{
	height: 400;
	width: 150;
	position:fixed;
	top: 120;
	left:30;
	font-size: 24;
	font-family: "Arial Black", Gadget, sans-serif;
	text-align: left;
}


#sidebar-text{
	height: 400;
	width: 150;
	position:fixed;
	top: 120;
	left:50;
	font-size: 24;
	font-family: "Arial Black", Gadget, sans-serif;
	text-align: left;
}

#sidebar{
	top: 100;
	left:-200;
	background-color:#FF0000;
}
#sidebareffect-green{
	top: 100;
	left:-400;
	width:600;
	background-color:#00FF00;
}

#sidebareffect-blue{
	top: 100;
	left:-200;
	background-color:0000FF;
}

sidebar A{
	color: black;
	text-decoration:none;
	font-family:sidebarFont;
}

sidebar A:hover{
	color: black;
	text-decoration:underline;
}

.SideBarDesc{
	width: 150;
	color: black;
	
}

.circle{
	border-radius: 50;
	height: 400;
	width: 400;
	text-align: center;
	position:fixed;
	line-height: 100;
}