/*Alex Huard*/

body{
	background: black;
}
/*Square*/
Topbar{
	width:200;
	height:100;
	top:0;
	left:0;
	position: absolute;
	background:black;
}
/*Triangle*/
blackbar{
    width: 0; 
    height: 0; 
	top:100;
	left:0;
    border-left: 200px solid transparent;
	position:absolute;
    border-top: 50px solid black;
}





Pageindex{
	position:absolute;
	width:600;
	height:auto;
	top:100;
	left:210;
	color:white;
	/*margin-right:200;*/
}

brokenlink{
	color:red;
	text-decoration: line-through;
}
brokenlink:hover{
	color:grey;
}

Pageindex A{
color:red;
}

Pageindex A:hover{
	text-decoration:underline;
}

Pageindex h1{
	text-decoration:underline;
}

Pageindex A{
	text-decoration:none;
}

Pageindex p{
	font-size:16;
	
}

/*Div IDs*/

#HeaderTitle{
	width: 700;
	height:94;	
	/*color:black;*/
	position:absolute;
	top:0;
	left:0;
	background: url(Images/Header-Name-Underline.png);
	/*border-style: groove;
	border-width: 5px;
	*/
}

#NameSmall{
	width: 200;
	height:36;	
	/*color:black;*/
	position:fixed;
	top:64;
	left:0;
	background: url(Images/Header-Name-Transparent-Small.png);
	/*border-style: groove;
	border-width: 5px;
	*/
}

#Jeremy:hover{
	width: 281;
	height:500;
	background: url(Images/jeremytoo.jpg);
	color:black;
	border-style: groove;
	border-width: 5px;
}
	
