@font-face{
	font-family: TopbarFont;
	src: url(Fonts/neuropolitical.ttf);
}



#TopTextred{	
	color:red;
	z-index:300;
}

#TopTextblue{	
	color:blue;
	z-index:100;
}

#TopTextgreen{
	color:#00FF00;
	z-index:200;
}

.Top{
	font-size:63px;
	position:absolute;
	width:100%;
	left:1px;
	top:10;
	font-family: TopbarFont;
	-webkit-transform-origin: left center;
}

.Side{
	
	font-size:36px;
	position:fixed;
	top:64;
	left:0;
}